<h2>Edit Comment</h2>

<%= form_for [@image, @comment] do |f| %>
  <div class="form-inputs">
    <%= f.label :body, "Comment" %>
    <%= f.text_field :body %>
  </div>

  <div class="form-actions">
    <%= f.submit "Update Comment", class: "small button", id: "create comment" %>
  </div>
<% end %>
