@import "foundation_and_overrides";
$form-border-color: orange;

h2 {
  text-align: center;
}

.form-actions,
.form-inputs {
  width: 100%;
  padding: 10px;
}

.form-inputs {
  border: 2px solid $form-border-color;
  border-radius: 20px;
}

.form-actions {
  text-align: center;
}
