@import "foundation_and_overrides";
$form-border-color: orange;

h2 {
  text-align: center;
}

.simple_form {
  align-content: center;
  margin: 0 auto;
}

.form-actions,
.form-inputs {
  width: 75%;
  padding: 10px;
  margin: 0 auto;
}

.form-inputs {
  border: 2px solid $form-border-color;
  border-radius: 20px;
}

.form-actions {
  text-align: center;
}

.cancel-wrapper {
  width: 75%;
  margin: 0 auto;
}
