@import "foundation_and_overrides";

.return {
  padding-left: 15px;
}

.rover-body,
.rover-title {
  margin: auto;
  text-align: center;
}

.rover-wrapper {
  display: inline-block;
  text-align: center;
  padding: 50px 25px 0;
}

.rover-image {
  list-style-type: none;
  max-width: 200px;
  max-height: 200px;
  padding: 10px;
}

.rover-title {
  display: inline-block;
  list-style-type: none;
  padding: 10px;
}
