@import "foundation_and_overrides";

.link {
  color: #999;
}

.link:hover {
  color: #777;
}

.cover-body {
  color: #222222;
  padding-top: 10px;
  text-align: center;
  background: linear-gradient(transparent, #663300), image-url(mars_panoramic);
  background-size: cover;
  height: 80%
}

.return {
  padding-left: 15px;
}

.rover-body {
  background-color: #663300;

  h2 {
    color: #dd7e28;
  }

}

.rover-body,
.rover-title {
  margin: auto;
  text-align: center;

  .full-title {
    color: #dd7e28;
  }

}

.rover-wrapper {
  display: inline-block;
  text-align: center;
  padding: 50px 25px 0;
}

.rover-image {
  list-style-type: none;
  max-width: 200px;
  max-height: 200px;
  padding: 10px;
}

.rover-title {
  display: inline-block;
  list-style-type: none;
  padding: 10px;
}
