@import "foundation_and_overrides";

h1 {
  margin: auto;
  text-align: center;
}

.rover-body {
  margin: auto;
  text-align: center;
}

.rover-wrapper {
  display: inline-block;
  text-align: center;
  padding: 100px 50px 0;
}

.rover-image {
  list-style-type: none;
  padding: 10px;
}

.rover-title {
  margin: auto;
  text-align: center;
  display: inline-block;
  list-style-type: none;
  padding: 10px;
}
