@import "foundation_and_overrides";
$form-border-color: #ee7600;

.page-guide {
  padding-top: 25px;
}

.vote-buttons,
.rover-name,
.rover-description {
  color: #dd7e28;
  margin: auto;
  text-align: center;
  width: 70%;
}

.page-guide,
.image-body {
  text-align: center;
  margin: auto;
  max-width: 50%
}

.image-wrapper {
  display: inline-block;
  align-content: center;
  padding: 20px 20px 0;
}

.image-name,
.image-description {
  list-style-type: none;
  text-align: center;
}

.image {
  max-width: 100px;
  max-height: 100px;
  margin: auto;
  list-style-type: none;
}

#sign-in-request {
  text-align: center;
}

.comments-empty {
  padding-top: 15px;
  text-align: center;
}

.comments-label {
  padding: 15px 0 0 20px;
}

.comment-add {
  text-align: center;
  padding-bottom: 20px;
}

.comment-wrapper {
  margin: 20px;
  padding: 20px;
  border: 1px solid $form-border-color;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 30px;

  li {
    list-style-type: none;
    width: 70%;
  }

  .timestamp {
    display: inline;
    font-size: 9px;
  }

  #username {
    text-decoration: underline;
  }

  .comment-actions li {
    float: right;
    display: inline-block;
    text-align: right;
  }

}

.vote-buttons {
  padding-bottom: 15px;
  padding-top: 15px;

  .votes {
    display: inline;
  }

}
