@import "foundation_and_overrides";

.page-guide {
  padding-top: 25px;
}

.rover-description {
  margin: auto;
  text-align: center;
  width: 70%;
}

.page-guide,
.image-body {
  text-align: center;
  margin: auto;
  max-width: 50%
}

.image-wrapper {
  display: inline-block;
  align-content: center;
  padding: 20px 20px 0;
}

.image-name,
.image-description {
  list-style-type: none;
  text-align: center;
}

.image {
  max-width: 100px;
  max-height: 100px;
  margin: auto;
  list-style-type: none;
}
