<h1>Red Planet</h1>

<div class="rover-body">
  <% @rovers.each do |rover| %>
  <div class="rover-wrapper">
    <li class="rover-image"><%= link_to (image_tag "#{rover.image_url}"), rover_path(rover) %></li>
    <li class="rover-title">
      <%= link_to "#{rover.name} ", rover_path(rover) %>
    </li>
  </div>
  <% end %>
</div>
