<h1><%= @rover.name %></h1>

<p class="rover-description"><%= @rover.description %></p>
<div class="image-body">
  <% @images.each do |image| %>

  <div class="image-wrapper">
  <li class="image"><%= link_to (image_tag ("#{image.image}")), rover_image_path(@rover, image), class: "link" %></li>
    <li class="image-description"><%= image.description %></li>
  </div>
  <% end %>
</div>
